    {% load static %}
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footerSection">
                <div class="footerIconSection">
                    <a href="#">
                        <img src="{% static 'img/facebook icon.svg' %}" alt="ficon">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/insta icon.svg' %}" alt="iicon">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/twiter icon.svg' %}" alt="twicon">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/pin icon.svg' %}" alt="picon">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/tik icon.svg' %}" alt="ticon">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/whats icon.svg' %}" alt="wicon">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/youtube icon.svg' %}" alt="yicon">
                    </a>
                </div>
                <div class="footerCopyright">
                    <p>© Start, 2022. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>