    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footerSection">
                <div class="footerIconSection">
                    <a href="#">
                        <img src="./assets/img/facebook icon.svg" alt="ficon">
                    </a>
                    <a href="#">
                        <img src="./assets/img/insta icon.svg" alt="iicon">
                    </a>
                    <a href="#">
                        <img src="./assets/img/twiter icon.svg" alt="twicon">
                    </a>
                    <a href="#">
                        <img src="./assets/img/pin icon.svg" alt="picon">
                    </a>
                    <a href="#">
                        <img src="./assets/img/tik icon.svg" alt="ticon">
                    </a>
                    <a href="#">
                        <img src="./assets/img/whats icon.svg" alt="wicon">
                    </a>
                    <a href="#">
                        <img src="./assets/img/youtube icon.svg" alt="yicon">
                    </a>
                </div>
                <div class="footerCopyright">
                    <p>© Start, 2022. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>