    {% load static %}
    <!-- Header Section -->
    <header>
        <div class="container">
            <div>
                <div>
                    <nav>
                        <div>
                            <a href="#">
                                <img class="logoResponsive" src="{% static 'img/Logo.png' %}" alt="Logo">
                            </a>
                        </div>
                        <div class="hamMenu"><a href="{% url 'page:home' %}"><i class="fa-solid fa-bars fa-2xl"></i></a></div>
                        <div class="navItemResponsive">
                            <ul class="navItem">
                                <li><a href="./login.html">Signup/login</a></li>
                                <li><a href="{% url 'page:contact' %}">contact</a></li>
                                <li><a href="./services.html">Services</a></li>
                                <li><a href="./portfolio.html">Portfolio</a></li>
                                <li><a href="{% url 'page:home' %}">Home</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="headerDown">
                    <div class="headerContent">
                        <h3 class="headerh3">Welcome</h3>
                        <h1 class="headerh1">Lorem ipsum dolor sit amet consectetur</h1>
                        <p class="headerp">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nemo hic
                            quos, ab, dolor aperiam nobis cum est eos error ipsum, voluptate culpa nesciunt delectus
                            iste?</p>
                        <button>Explore</button>
                    </div>
                    <div>
                        <img src="{% static 'img/headerPic.png' %}" alt="groupPic" width="550px" height="350px">
                    </div>
                </div>
            </div>
        </div>
    </header>