{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <title>Contact Us</title>
</head>
<body>

    <!-- Header Section -->
    <header>
        <div class="container">
            <div>
                    <nav>
                        <div>
                            <a href="#">
                                <img class="logoResponsive" src="{% static 'img/Logo.png' %}" alt="Logo">
                            </a>
                        </div>
                        <div class="hamMenu"><a href="#"><i class="fa-solid fa-bars fa-2xl"></i></a></div>
                        <div class="navItemResponsive">
                            <ul class="navItem">
                                <li><a href="./login.html">Signup/login</a></li>
                                <li><a href="{% url 'page:contact' %}">contact</a></li>
                                <li><a href="./services.html">Services</a></li>
                                <li><a href="./portfolio.html">Portfolio</a></li>
                                <li><a href="{% url 'page:home' %}">Home</a></li>
                            </ul>
                        </div>
                    </nav>
            </div>
        </div>
    </header>
    
    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="contentHead">
                <h2>Contact Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="contentDown">
                <div>
                    <form action="./contact.html" method="get">
                        <label >Name</label>
                        <input type="text">
                        <label >Email</label>
                        <input type="email">
                        <label >Message</label>
                        <textarea ></textarea>
                        <button type="submit" >Submit</button>
                    </form>
                </div>
                <div>
                    <img src="{% static 'img/map.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>

    {% include 'partials/__footer__.html' %}
</body>
</html>