{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="contentHead">
                <h4>PLANS</h4>
                <h2>Our Services</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="serviceCard">
                <div class="innerCard">
                    <div>
                        <h4>Basic</h4>
                        <p><strong>$100</strong>/month</p>
                        <p style="color:rgba(33, 37, 41, 0.5);
                        ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam temporibus at debitis id
                            obcaecati laboriosam.</p>
                    </div>
                    <div>
                        <h6><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Lorem ipsum dolor sit.</h6>
                        <h6><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Lorem ipsum dolor sit.</h6>
                        <h6><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Lorem ipsum dolor sit.</h6>
                        <h6><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Lorem ipsum dolor sit.</h6>
                    </div>
                    <div class="buttonSectionDiv">
                        <button class="buttonSection">Learn More</button>
                    </div>
                </div>
                <div class="innerCard">
                    <div>
                        <h4>Plus</h4>
                        <p><strong>$250</strong>/month</p>
                        <p style="color:rgba(33, 37, 41, 0.5);
                        ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam temporibus at debitis id
                            obcaecati laboriosam.</p>
                    </div>
                    <div>
                        <h6><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Lorem ipsum dolor sit.</h6>
                        <h6><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Lorem ipsum dolor sit.</h6>
                        <h6><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Lorem ipsum dolor sit.</h6>
                        <h6><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Lorem ipsum dolor sit.</h6>
                    </div>
                    <div class="buttonSectionDiv">
                        <button class="buttonSection">Learn More</button>
                    </div>
                </div>
                <div class="innerCard">
                    <div>
                        <h4>Pro</h4>
                        <p><strong>$400</strong>/month</p>
                        <p style="color:rgba(33, 37, 41, 0.5);
                        ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam temporibus at debitis id
                            obcaecati laboriosam.</p>
                    </div>
                    <div>
                        <h6><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Lorem ipsum dolor sit.</h6>
                        <h6><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Lorem ipsum dolor sit.</h6>
                        <h6><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Lorem ipsum dolor sit.</h6>
                        <h6><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Lorem ipsum dolor sit.</h6>
                    </div>
                    <div class="buttonSectionDiv">
                        <button class="buttonSection">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}