{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="loginContainer">
                <div class="leftSide">
                    <h2>Sign in with :</h2>
                    <div class="SVGs">
                        <i></i>
                        <i></i>
                        <i></i>
                        <p>or use your account</p>
                        <form action="{% url 'account:login' %}" method="POST">
                            {% csrf_token %}
                            <input type="text" placeholder="Username" name="username">
                            <input type="password" placeholder="password" name="password">
                            <a href="#"><p>Forgot your password ?</p></a>
                            <button type="submit">Sign in</button>
                        </form>
                    </div>
                </div>
                <div class="rightSide">
                    <h2>Hello, Freind!</h2>
                    <p>dont have any account ? </p>
                    <button type="submit" id="myBtn">Sign up</button>
                </div>
            </div>
        </div>
    </section>


    <!-- Modal -->
    <section>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modalHeader">
                    <h3>Sign up</h3>
                    <span class="close">&times;</span>
                </div>
            <form action="{% url 'account:signup' %}" method="POST">
                {% csrf_token %}
                    <input type="text" placeholder="Enter Your Username" name="username">
                    <input type="text" placeholder="Enter Your Job" name="job">
                    <input type="email" placeholder="Enter Your Email" name="email">
                    <input type="password" placeholder="Enter Your password" name="password1">
                    <input type="password" placeholder="Repeat Your password" name="password2">
                    <p>select your gender :</p>
                    <div class="genderDiv">                    
                        <label for="genderM">Male</label>
                        <input type="radio" name="gender" id="genderM" value="M">
                        <label for="genderF">Female</label>
                        <input type="radio" name="gender" id="genderF" value="W">
                    </div> 
                    <button type="submit">Sign in</button>
            </form>
            </div>
        </div>
    </section>

{% endblock %}
