* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
/*>>>>>>>>>>>>>>>>>>>>>>>Header Section<<<<<<<<<<<<<<<<<<<<<< */
header {
    background-color: #74C69D;
    width: 100%;
    height: 90px;
}

.container {
    width: 1180px;
    height: auto;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.navItem {
    list-style: none;
    display: flex;
}

.navItem li {
    margin: 18px 0px;
}

.navItem li a {
    text-decoration: none;
    color: #fff;
    margin: 0 30px;
}
.hamMenu i{
    display: none;
    color: white;
}
.hamMenu a{
    text-decoration: none;    
}

/*>>>>>>>>>>>>>>>>>>>>>>>Content Section<<<<<<<<<<<<<<<<<<<<<< */
.sampleContent{
    text-align: center;
    margin-top: 20px;
}
.samplesImg{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.samplesImg img {
    width: 450px;
    height: auto;
    padding: 10px;
}
p{
    margin-top:10px ;
}
.buttonSectionDiv {
    margin-top: 20px;
    text-align: center;
}

.buttonSection {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 13px 55px;
    margin-top: 50px;
}
/*>>>>>>>>>>>>>>>>>>>>>>>Footer Section<<<<<<<<<<<<<<<<<<<<<<*/
footer {
    margin-top: 50px;
    width: 100%;
    height: 125px;
    background-color: #74C69D;
}

.footerSection {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerIconSection a{
    margin: 0px 10px;
    text-decoration: none;
}
.footerCopyright{
    color: #fff;
}    

/*>>>>>>>>>>>>>>>>>>>>>>>Responsive For Mobile Device<<<<<<<<<<<<<<<<<<<<<<*/
@media (max-width:480px) {
    .container{
        width: 100%;
    }
        /*>>>>>Mobile Header<<<<<*/
    .hamMenu i{
        display:block;
        margin-top: 17px;
    }
    .navItemResponsive{
        display: none;
    }
    /*>>>>>Mobile Content<<<<<*/
    .samplesImg img {
        width: 100%;
        height: auto;
        padding: 20px 10px;
        }
    /*>>>>>Mobile Footer<<<<<*/
    .footerSection{
        flex-direction: column;
    }
    .footerCopyright{
        margin-top: 10px;
    }


}

/*>>>>>>>>>>>>>>>>>>>>>>>Responsive For Fablet Device<<<<<<<<<<<<<<<<<<<<<<*/
@media (max-width:767px) {
    .container{
        width: 100%;
    }
    /*>>>>>Fablet Header<<<<<*/
    .hamMenu i{
        display:block;
        margin-top: 17px;
    }
    .navItemResponsive{
        display: none;
    }

    /*>>>>>Fablet Footer<<<<<*/
    .footerSection{
        flex-direction: column;
    }
    .footerCopyright{
        margin-top: 10px;
    }

}
/*>>>>>>>>>>>>>>>>>>>>>>>Responsive For Tablet&iPad Device<<<<<<<<<<<<<<<<<<<<<<*/
@media (max-width:1180px) {
    .container{
        width: 100%;
    }
    /*>>>>>Tablet&iPad Header<<<<<*/
    nav{
        padding:  20px !important;
    }
    /*>>>>>Tablet&iPad Footer<<<<<*/
    .footerSection{
        flex-direction: column;
    }
    .footerCopyright{
        margin-top: 10px;
    }

}
