* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
/*>>>>>>>>>>>>>>>>>>>>>>>Header Section<<<<<<<<<<<<<<<<<<<<<< */

header {
    background-color: #74C69D;
    width: 100%;
    height: 90px;
}

.container {
    width: 1180px;
    height: auto;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.navItem {
    list-style: none;
    display: flex;
}

.navItem li {
    margin: 18px 0px;
}

.navItem li a {
    text-decoration: none;
    color: #fff;
    margin: 0 30px;
}
.hamMenu i{
    display: none;
    color: white;
}
.hamMenu a{
    text-decoration: none;    
}

/*>>>>>>>>>>>>>>>>>>>>>>>Content Section<<<<<<<<<<<<<<<<<<<<<< */
.loginContainer{
    margin: 40px auto;
    width: 80%;
    height: 613.4px;
    border: 1px solid #74C69D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 10px 5px 10px #bebebe,
    -5px -5px 10px #ffffff;
}
.leftSide{
    border-radius: 30px 0px 0px 30px;
    background-color: #74C69D;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.leftSide p ,h2{
    text-align: center;
    color: #fff;
}
.rightSide h2,p{
    text-align: center;
}
.rightSide h2 {
    color: #74C69D;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
form input , p,button{
    margin: 10px 0px;
}
a{
    text-decoration: none;
    color: #fff;
}
input{
    width: 100%;
    padding: 10px 40px;
    border-radius: 30px;
    border: 1px solid rgb(124, 124, 124);
}
input:focus{
    border: 1px solid rgb(124, 124, 124);
    color: #fff;
    background-color: #98af9d;
}
.rightSide{
    border-radius: 0px 30px 30px 0px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    height: 100%;
}
.leftSide button{
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 13px 25px;
}
.leftSide button:active{
    background-color: rgb(0, 0, 0);
    color: #ffffff;

}
.rightSide button:active{
    background-color: rgb(0, 0, 0);
    color: #ffffff;

}
.rightSide button{
        background-color: #74C69D;
        color: #fff;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        padding: 13px 25px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>Footer Section<<<<<<<<<<<<<<<<<<<<<<*/
footer {
    margin-top: 50px;
    width: 100%;
    height: 125px;
    background-color: #74C69D;
}

.footerSection {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerIconSection a{
    margin: 0px 10px;
    text-decoration: none;
}
.footerCopyright{
    color: #fff;
}    

/*>>>>>>>>>>>>>>>>>>>>>>>Responsive For Mobile Device<<<<<<<<<<<<<<<<<<<<<<*/
@media (max-width:480px) {
    .container{
        width: 100%;
    }
        /*>>>>>Mobile Header<<<<<*/
    .hamMenu i{
        display:block;
        margin-top: 17px;
    }
    .navItemResponsive{
        display: none;
    }
    /*>>>>>Mobile Content<<<<<*/
    .samplesImg img {
        width: 100%;
        height: auto;
        padding: 20px 10px;
        }

    /*>>>>>Mobile Footer<<<<<*/
    .footerSection{
        flex-direction: column;
    }
    .footerCopyright{
        margin-top: 10px;
    }


}

/*>>>>>>>>>>>>>>>>>>>>>>>Responsive For Fablet Device<<<<<<<<<<<<<<<<<<<<<<*/
@media (max-width:767px) {
    .container{
        width: 100%;
    }
    /*>>>>>Fablet Header<<<<<*/
    .hamMenu i{
        display:block;
        margin-top: 17px;
    }
    .navItemResponsive{
        display: none;
    }

    .loginContainer{
        margin: 40px auto;
        width: 80%;
        height: 613.4px;
        flex-direction: column;
    }
    .leftSide{
        border-radius: 30px 30px 0px 0px;
    }
    .rightSide{
        border-radius: 0px 0px 30px 30px;
    }
    
    /*>>>>>Fablet Footer<<<<<*/
    .footerSection{
        flex-direction: column;
    }
    .footerCopyright{
        margin-top: 10px;
    }

}
/*>>>>>>>>>>>>>>>>>>>>>>>Responsive For Tablet&iPad Device<<<<<<<<<<<<<<<<<<<<<<*/
@media (max-width:1180px) {
    .container{
        width: 100%;
    }
    /*>>>>>Tablet&iPad Header<<<<<*/
    nav{
        padding:  20px !important;
    }
    .navItem li a {
        margin: 0 10px;
    }
    /*>>>>>Tablet&iPad Footer<<<<<*/
    .footerSection{
        flex-direction: column;
    }
    .footerCopyright{
        margin-top: 10px;
    }

}
